.resumen-compra {
    background-color: #292929;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .btn-pago {
    background-color: #ff3d00;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-pago:hover {
    background-color: #e63200;
  }
  