.home-container {
  
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card {
  background-color: #393939;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  object-fit: cover;
}

.no-decoration-link {
  text-decoration: none;
  color: inherit;
}


.filter-container {
  color: white; /* Cambia el color del texto a blanco */
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.MuiInputLabel-root {
  color: white !important; /* Cambia el color de las etiquetas (placeholder) */
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Cambia el color del borde del input */
}

.MuiOutlinedInput-input {
  color: white; /* Cambia el color del texto dentro del input */
}

.MuiSvgIcon-root {
  color: white; /* Cambia el color de los íconos, como el de la flecha del select */
}

.MuiPickersDay-dayWithMargin .MuiTypography-root {
  color: white; /* Cambia el color del texto del selector de fechas */
}

